名稱：<input type=text name=name value="<%= h(@css.name) %>"><br>
檔名：<input type=text name=fname value="<%= h(@css.fname) %>">（請不要加副檔名，檔案亦會自動建立。亦請盡量別改檔名。）<br>
<input type=hidden name=id value="<%= @css.id %>">
<input type=submit name=submit value=送出>
