<form action='/admin/edit_css_content' method=post>
<textarea name=content cols=90 rows=50><%= @content %></textarea><br>
<input type=hidden name=id value="<%= @id %>">
<input type=submit name=submit value=送出>
</form>
