<h2>公告</h2>
<form action=/local_letter/announce method=post>
標題：<input type=text name=title><br>
收件者：<input type=text name=receiver><br>
內文：<br>
<textarea name=content cols=100 rows=50></textarea><br>
<input type=submit name=submit value=送出><br>
</form>
