<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>AC Island</title>
<%= stylesheet_link_tag 'ACIsland.css', :media => 'all' %>
<%= javascript_include_tag 'ACIsland.js' %>
</head>
<body>
<div id="banner">
  <h1>AC Island</h1>
  <div id="topmenu">
    <%= @topmenu %>
  </div>
</div>
<table id="mainBox" border="0" cellspacing="0" width="95%">
  <tr>
    <td width="200" valign=top>
      <div id="leftmenu">
        <%= @leftmenu %>
      </div>
    </td>
    <td valign=top>
      <div id="message">
        <%= flash[:notice] %>
      </div>
      <div id="rightcontent">
        <%= @content_for_layout %>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
