<html>
<head>
<title>ACMSA - ACM Strength Analyzer By TFcis sa072686</title>
<link rel=stylesheet src="~/public_html/forACMSA/ACMSA.css">
<script language=javascript src="~/public_html/forACMSA/ACMSA.js"></script>
</head>
<body>
<center>
<h1>ACMSA</h1>
<h3>~ ACM Strength Analyzer by TFcis sa072686 ~</h3>
<%= @content_for_layout %>
</center>
</body>
</html>
